.updateProfile{
    border-style: ridge;
    border-color: grey;

    width: 50%;
    
    margin-left: 465px;
    margin-top: 100px;
    padding: 20px;

    background-image: url('../images/muzicaupdate.jpg');
    background-repeat: no-repeat;
    backdrop-filter: blur(1000px);
    background-size: 900px 800px;

    font-size: 20px;
}

.secondDiv{
    font-weight: bold;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}