


.mainDiv{
    margin: 5% 25% 0% 25%;
    background-color:#215385; ;
    border-radius: 30px;
    border-style: ridge;
    width: auto;
    height: auto;
    position: absolute;
    overflow: hidden;

}



.image{
    margin-top: 20px;
    width: 100%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;    
}

.center{
   width: 50%;
   margin: 0 25% 0 25%;
}

.input{
    font-size: 20px;
    color: #772242;
}

.button{
    width: 50px;
    height: 50px;
}

.button:hover{
    background-color:#ff8b33;
    color:#091b4d;
    border-color:#e6985c;
}


.a{
    font-weight: bold;
    color:#ffc300;
    font-size: 20px;
    display: block;
    margin: 20px;
}

.a:hover{
    color: #455818;   
    
    
}

.labelColor{
    color: white;
    font-weight: bolder;
}

.noAccount{
    border-color: blue;
    border-width: 1px;
    border-style: ridge;
    background-color: ivory;
}

.noAccount:hover{
    background-color: lightgreen;
}

/*
fundal d4c9b9
prima bară m 581845
a doua bară m 900c3f
a treia bară m c70039
bara m mijloc ff5733
ffc300
detalii negru 222023
detalii gri 666666

*/