body{
    background-image: url('./images/muzica.jpg');
    backdrop-filter: blur(5px);
}


.culori{
    background-color: #25274D;
    border-color: #464866;
    color: #AAABB8;
}

.culori2{
    background-color: #2E9CCA;
    color: #29648A;
}