.mainDiv{
    display: inline-block;
    margin: auto;
    border: 2px solid;
    font-size: 20px;
    padding: 2px;
    border-style: ridge;
    border-radius: 5px;
    border-color: blue;
    margin: 5px 0 5px 0;
    background-color: white;
    height: 80px;
    color: #25274D;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}

.image{
    width: 70px;
    height: 70px;
    padding: 0px;
    margin: 0px;
}

.list{
    border-left: groove;
    border-right: groove;
    padding-left: 30px;
    padding-right: 30px;
}

.mainDiv:hover{
    background-color: rgb(222, 230, 235);
}