.input{
    font-size: 20px;
    color: #772242;
}

.form{
    text-align: center;
}

.email{
    margin-left: 45px;;
}


.mainDiv{
    
    background-color:#215385;

    border-style: solid;
    border-color:#b9cad4;
    border-style: solid;
   
    width: 50%;
    margin:0% 25% 0% 25%;
    border-radius: 10px;
    border-style: ridge;
    height: auto;
    position: absolute;

    color: white;
}


.secondDiv{
    
    width: 60%;
    margin-left: 20%;
    
}

.image{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    padding-top: 30px;
  
}

.label{
    display: inline-block;

    font-weight: bold;
    font-size: 20px;

    

    width: 250px;
    float: left;
}

.input{
    font-size: 20px;
  
    display: inline-block;
}

.button{
    color: #581845 ;
    background-color: #d68472;
    font-weight: bold;

    border-color:#41211a;
    width: 30%;
    font-size: 18px;
    padding: 10px 10px 10px 10px;
    margin:20px;
    
    display: inline-block;
}

.button:hover{
    background-color:#ff8b33;
    color:#091b4d;
    border-color:#e6985c;
}


.a{
    font-weight: bold;
    color:#581845;
    font-size: 20px;
    display: block;
    margin: 20px;
}

.a:hover{
    color: #455818;   
    
    
}



/*
fundal d4c9b9
prima bară m 581845
a doua bară m 900c3f
a treia bară m c70039
bara m mijloc ff5733
ffc300
detalii negru 222023
detalii gri 666666

*/

@media screen and (max-width: 800px){
    .mainDiv{
        width: 100%;
        height: auto;
        
        padding-top: 200px;
        padding-bottom: 200px;

    }
}